{{ define "main" }}

{{ if .Title }}<h1>{{ .Title }}</h1>{{ end }}

{{ if .Content }}<article>{{ .Content }}</article>{{ end }}

{{ if .Pages }}
	<ul>
	{{ range .Pages }}
	{{ $page:=. }}
	<li>
		<a href="{{ .RelPermalink }}">{{ .Title }}</a>
		Tags:
		{{ range (.GetTerms "tags") }}
			<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
			{{ if $page.Params.tagsrole }}{{$mmap := index $page.Params.tagsrole .Title }}{{ $mmap.role }}{{ end }}
		{{ end }}
		Categories:
		{{ range (.GetTerms "categories") }}
			<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
		{{ end }}
	</li>
	{{ end }}
	</ul>
{{ end }}

{{ end }}
